@{
    ViewData["Title"] = "Photo Gallery";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<main class="flex-grow p-4 sm:p-6">
    <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 gap-3 sm:gap-4">
        <a class="group block" href="#">
            <div class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-lg bg-gray-200 dark:bg-gray-700 overflow-hidden transform transition-transform duration-300 group-hover:scale-105">
                <div class="w-full h-full bg-center bg-no-repeat aspect-square bg-cover"
                     data-alt="Children happily eating their mid-day meal."
                     style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuB8hjGFhV5k-adW2FoSMCwh28pwizst4rCGu3RIvP4j3p6qNKAEgxsk4TDXFDGyHZWZiu6PmZmiWlDT44hGWOse_4g82WcZPQBWqyAdfQqGrxX9oau2YMOJx-uM5T4jRQjNZk1NryGD5uKCFxOaUK-IiMmOWGIJKxofO2g1Ec13R_XywyrFXEvBimC1aBencbwPSFGq94OZvaciQfO4W7l00tS21gPdgWFKX8-IItFFGAZOI-2eaWvvrqDR5ab3LbnN3WVwXtEYWNVq");'>
                </div>
            </div>
        </a>
        <a class="group block" href="#">
            <div class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-lg bg-gray-200 dark:bg-gray-700 overflow-hidden transform transition-transform duration-300 group-hover:scale-105">
                <div class="w-full h-full bg-center bg-no-repeat aspect-square bg-cover"
                     data-alt="A volunteer serving food to a student."
                     style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuCUaUoXjvZehYSXQwq6xVKNG0LY8qKY3AwyPmRAt7hW0VoN2udbOspCNy0R8wRRXalgIVAfRKDQkvz2dPAItwjGRuMOuXGFdlIUE5BM2n2GIe4VNteBS2R5xut_VZ0AobuQZJ_Rnxxt4j6FMkBH5_erOh3NZOfNwRP1fjwr2QwlrWhOLpAvF1O4Oj9-vKpXb06Bde2oErlCMrb58iAwgnLejpAQ0rckPChwMBGyoZe-rz2w8WAG0voC3DWPK6fZ5NExU0W7fpvtLlbE");'>
                </div>
            </div>
        </a>
        <a class="group block" href="#">
            <div class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-lg bg-gray-200 dark:bg-gray-700 overflow-hidden transform transition-transform duration-300 group-hover:scale-105">
                <div class="w-full h-full bg-center bg-no-repeat aspect-square bg-cover"
                     data-alt="A clean kitchen where meals are prepared."
                     style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuA1_jRG7mO1MUn84y6b0_UW8oJ-X2imrTYSqEz7EuKrnjjwYTNLnLkrBl9i5UNSTN_OLOThTT_Ts3iSiYEyzEFawmTl6AOhvE37-8yOdf2Nz7jrTAuREOU0N16DN7J50o6JxVpXbX0hoc_0koah0fN-f789T5ajDSSnSOKrVKLdoYN8xikzQNqANpxybDmcEm5kdFg8pF5RyktUvmGTFmAfqzxQXzcGTGTiqeGHHgfO85FqioQJLxCw_4cSqtcNmLl2ab3_BHSn2AKL");'>
                </div>
            </div>
        </a>
        <a class="group block" href="#">
            <div class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-lg bg-gray-200 dark:bg-gray-700 overflow-hidden transform transition-transform duration-300 group-hover:scale-105">
                <div class="w-full h-full bg-center bg-no-repeat aspect-square bg-cover"
                     data-alt="Fresh vegetables being used for cooking."
                     style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuDCoJE6BAyrMSqgvBzbkJqbevAK1-07Zw3PDf5UHQaYJw2v9U5_LHV9Uv_yoRcgOKR17oe1Vb8WmDsSrVVOecqGTIi0ZpKsByO1-Ac87tAo58ObrCnh5rx9S-Tw66g8LjSOZ3zxxMz3MeGRrabvbW_2cciTSOcNe4S656op_GWYcVPHH0z6af2nRYT5ccTWnHNfnRXpLTJxQNcMw-sejXQ0-IPjkQK-PEXJTqe0d7wU6JZE_0S9Q1yf3lWp2R9V-fTWLcz3sFu70rn1");'>
                </div>
            </div>
        </a>
        <a class="group block" href="#">
            <div class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-lg bg-gray-200 dark:bg-gray-700 overflow-hidden transform transition-transform duration-300 group-hover:scale-105">
                <div class="w-full h-full bg-center bg-no-repeat aspect-square bg-cover"
                     data-alt="Students lined up for their meal."
                     style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuC8AYpxqY75dNaLD56FaSXbAEIPwJ3qKUA7sAYOaQ-KzHMlAtTS1OxWFlAF32tZ7yzJj-Bh4tg1NrwVG3gQf8XMJbxT6hzd7uKHcZAqOD_1uu9PU-LEM5u1qop86fk1lgisc-C2W-E7LVOfdqs3WHZKkFKhydkaJyJDHE0cPjD7cgb1_BpGooqWyDBqG8tyKkdzIX7C_UWS1yCMkyeAmKHuvJ1N4khjkDsOkzlgtbf23glBIJD-yw3rghWQbv7VZH50ZRnANwjlunl2");'>
                </div>
            </div>
        </a>
        <a class="group block" href="#">
            <div class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-lg bg-gray-200 dark:bg-gray-700 overflow-hidden transform transition-transform duration-300 group-hover:scale-105">
                <div class="w-full h-full bg-center bg-no-repeat aspect-square bg-cover"
                     data-alt="A teacher overseeing the meal distribution."
                     style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuCsRlFYn1VsetmlrueCut5cxuD4JQ8pJASMJlaVRsLj9N16qSGWKKHkW31Pk5QWcQVEdIyN8dc1UTZZFFRnHgKjT7xK2rhTfJifB-L1wfgeVpMCuFu0fQ_HFafq9i-4izEcpoDq17gXD5zY2QIToNcpQY3J17NkbGXnxSP4S0FrK8wxkIwnGVJHaYa_04IP3n9URz5oIpLG3iqWVB008rjezdE9BdzwOLUtNLiVGutxxtDlVW72GYbAkqjtkE9zbvLkywhIgwDWGCPe");'>
                </div>
            </div>
        </a>
        <a class="group block" href="#">
            <div class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-lg bg-gray-200 dark:bg-gray-700 overflow-hidden transform transition-transform duration-300 group-hover:scale-105">
                <div class="w-full h-full bg-center bg-no-repeat aspect-square bg-cover"
                     data-alt="Close-up of a nutritious plate of food."
                     style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuDr-mXEpHGyRgef6e8LaK-lqX4pnBiyoKB8bNC41uXk3eSI5MLJXqXjH-JaH0_aKWRla24AJjvd9mpXMCUcxGkF9SLHu540LlmnnP1pF6di9sPioYp2osJZc3EAde88qqS4LGK444BHrFMtFRuLHltP1OLkBOChLioUqJled1-io95nHb2Ml6OFhFkwqc8HPRWbK2nw30quGZeAIQJ8P0EHn8Yi0ie7fCDTiNXIUmQ4-q0t57PUUiH2aGxnQlR4bhrRo46U8ELAQ-nN");'>
                </div>
            </div>
        </a>
        <a class="group block" href="#">
            <div class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-lg bg-gray-200 dark:bg-gray-700 overflow-hidden transform transition-transform duration-300 group-hover:scale-105">
                <div class="w-full h-full bg-center bg-no-repeat aspect-square bg-cover"
                     data-alt="Students eating together in a classroom."
                     style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuBsjOIr9JeQny9Qs_tBMkv-7JvZ4mkJZQ0jt-UkLIQ_wPKOWohNfaYBQh4aEI0z2pM3n_M7UoETSWAOXt7YGqjPL6Be9vQxOud9d_7eB0CExHvW5ELPuvNzu9edL_bEwE8LkpDuzulZE-YL0yp-qebMFHOyfut60kPFC7OKANNlgCLUI62jbeJgAOTXdoRl6nWDuXVYNzfssf7pH3a5e36PfqdyEVxqHb9eBY1vXDIHFS-AiWQ2Ci9uViyydPqCeOt6LdDpk3uyFBGk");'>
                </div>
            </div>
        </a>
        <a class="group block" href="#">
            <div class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-lg bg-gray-200 dark:bg-gray-700 overflow-hidden transform transition-transform duration-300 group-hover:scale-105">
                <div class="w-full h-full bg-center bg-no-repeat aspect-square bg-cover"
                     data-alt="Food being transported to a school."
                     style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuA2VWgaENPtbzpvSct48L9l8IA6p_H_KYs_J9JOWbxE9L7Q5VMbw2g4ToPgWMo6nSeihgTIhpCbbEkBfexIpvpIHm5Oa1h2gbO4P0-GIl7NWp6Ofe9wFfmF6kTobIxwQyx6Le5Pnm-EcMkRjZt9m2sivkNZVYQYuFsUN6fxKMSlBWQIvtWj2zm5tdji52nE3EU1NpU89RDJFV6vzOeyMYNKXuzQA3K5CdsdJSGvvcAi-xOBn9VXkU88Pz_U4hDkkTJTJyKijpU9RVat");'>
                </div>
            </div>
        </a>
        <a class="group block" href="#">
            <div class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-lg bg-gray-200 dark:bg-gray-700 overflow-hidden transform transition-transform duration-300 group-hover:scale-105">
                <div class="w-full h-full bg-center bg-no-repeat aspect-square bg-cover"
                     data-alt="Health and hygiene awareness session."
                     style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuC9BPc5h81nIWyJZt9eyje1c-3tWg8ZlqBhIaz0Iy1gx8Ba44hpeQoQy0QcqigDZbEkGffzrJ0T6sKoV4eahj_tdB92xidGQBrhqwNyNb5RKghMC0TRvToXvkOQwpG-QpOCLQtAfnv70WlAz1Q4DQEZzVZLkX5NA1YWfTzF_CMRRfSwDtTg7RgY0Rwr-mDpyjuWRlsOnIv1PCfxz8HdCnCJT4GzZGArm1Z2qjkcNB93JKD3K3oyOmdCO12zjZlo1Xhf2GFegVv0NSy8");'>
                </div>
            </div>
        </a>
    </div>
</main>