@import "tailwindcss";

@theme {
    --color-primary: #0d47a1;
    --color-accent: #fb8c00;
    --color-background-light: #ffffff;
    --color-background-alt: #f5f5f5;
    --color-text-body: #2f4f4f;
/**/
    --font-display: "Poppins", sans-serif;

  --radius: 0.25rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-full: 9999px;
}


.dark {
    --color-primary: #499ADB; /* lighter blue */
    --color-accent: #ffa726; /* brighter accent */
    --color-background-light: #121212; /* dark background */
    --color-background-alt: #1e1e1e;
    --color-text-body: #e0e0e0; /* light text */
}