<footer class="bg-primary text-white" id="contact">
    <div class="container mx-auto max-w-6xl px-4 py-12">
        <div class="grid grid-cols-1 gap-8 md:grid-cols-4">
            <div class="md:col-span-2">
                <h3 class="text-lg font-bold">PM Poshan Sikkim</h3>
                <p class="mt-2 text-sm text-white/80">
                    Education Department, Government of Sikkim
                </p>
                <p class="mt-1 text-sm text-white/80">
                    Tashiling Secretariat, Gangtok, Sikkim - 737101
                </p>
                <p class="mt-4 text-sm text-white/80">
                    Email: support-pmposhan@sikkim.gov.in
                </p>
                <p class="text-sm text-white/80">Phone: 03592-202xxx</p>
            </div>
            <div>
                <h4 class="font-semibold">Quick Links</h4>
                <ul class="mt-2 space-y-2 text-sm">
                    <li>
                        <a class="text-white/80 hover:text-white" href="/">Home</a>
                    </li>
                    <li>
                        <a class="text-white/80 hover:text-white" href="/#about">About Us</a>
                    </li>
                    <li>
                        <a class="text-white/80 hover:text-white" href="/photos">Photos</a>
                    </li>
                    <li>
                        <a class="text-white/80 hover:text-white" href="/videos">Videos</a>
                    </li>
                    <li>
                        <a class="text-white/80 hover:text-white" href="/#events">Events</a>
                    </li>
                </ul>
            </div>
            <div>
                <h4 class="font-semibold">Related Portals</h4>
                <ul class="mt-2 space-y-2 text-sm">
                    <li>
                        <a class="text-white/80 hover:text-white" href="#">Ministry of Education</a>
                    </li>
                    <li>
                        <a class="text-white/80 hover:text-white" href="#">Government of Sikkim</a>
                    </li>
                    <li>
                        <a class="text-white/80 hover:text-white" href="#">Sikkim Education Dept.</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="mt-8 border-t border-white/20 pt-6 text-center text-sm text-white/70">
            <p>© 2023 PM Poshan Sikkim. All Rights Reserved.</p>
        </div>
    </div>
</footer>